<div class="row">

    <div class="col-lg-12">List of Scores Here</div>

    <div class="col-lg-6"></div>
    <div class="col-lg-6 center-block" style="margin-top:350px">
        <button class="weberButton weberButtonGreen">Approve</button>
        <button class="weberButton weberButtonRed">Deny</button>
    </div>

    <div class="col-lg-12">
        <button class="weberButton" ng-click="togglePanels('none')">Close</button>
    </div>

</div>


