<div>List of Scores Here</div>

<div class="center-block" style="margin-top:350px">
    <button class="btn btn-success">Approve</button>
    <button class="btn btn-danger">Deny</button>
</div>
<button class="btn btn-primary" ng-click="togglePanels('none')">Close</button>


