<style>
    
</style>
<div class="row">
    <div class="col-lg-8">
            Proposal ID: {{::model.fullProposal.ARCCProposal.ARCCProposalID}}<br />
            Proposal Name: {{::model.fullProposal.ARCCProposal.ARCCName}}<br />
            Director: {{::model.fullProposal.ARCCProposal.ARCCDirector}}<br />
            Department: {{::model.fullProposal.ARCCProposal.ARCCDepartment}}<br />
            College: {{::model.fullProposal.ARCCProposal.ARCCCollege}}<br />
            Username: {{::model.fullProposal.ARCCProposal.ARCCUsername}}<br />
            Email: {{::model.fullProposal.ARCCProposal.ARCCEmail}}<br />
            Extension: {{::model.fullProposal.ARCCProposal.ARCCExtension}}<br />
            OtherMembers: {{::model.fullProposal.ARCCProposal.ARCCOtherMembers}}<br />
            ARCCRepSignature: {{::model.fullProposal.ARCCProposal.ARCCRepSignature}}<br />
            ARCCRepComments: {{::model.fullProposal.ARCCProposal.ARCCRepComments}}<br />
            ChairSignature: {{::model.fullProposal.ARCCProposal.ARCCChairSignature}}<br />
            ChairComments: {{::model.fullProposal.ARCCProposal.ARCCChairComments}}<br />
            DeanSignature: {{::model.fullProposal.ARCCProposal.ARCCDeanSignature}}<br />
            DeanComments: {{::model.fullProposal.ARCCProposal.ARCCDeanComments}}<br />
            ITSignature: {{::model.fullProposal.ARCCProposal.ARCCITSignature}}<br />
            ITComments: {{::model.fullProposal.ARCCProposal.ARCCITComments}}<br />
            Justification: {{::model.fullProposal.ARCCProposal.ARCCJustification}}<br />
            JustificationAttach: {{::model.fullProposal.ARCCProposal.ARCCJustificationAttach}}<br />
            AdditionalResources: {{::model.fullProposal.ARCCProposal.ARCCAdditionalResources}}<br />
            ARCCReplacementEquipment: {{::model.fullProposal.ARCCProposal.ARCCReplacementEquipment}}<br />
            ARCCReplacementProjectName: {{::model.fullProposal.ARCCProposal.ARCCReplacementProjectName}}<br />
            ARCCReplacementARCCYear: {{::model.fullProposal.ARCCProposal.ARCCReplacementARCCYear}}<br />
            PartiallyFunded: {{::model.fullProposal.ARCCProposal.ARCCPartiallyFunded}}<br />
            PartiallyFundedPercent: {{::model.fullProposal.ARCCProposal.ARCCPartiallyFundedPercent}}<br />
            LastUpdatedBy: {{::model.fullProposal.ARCCProposal.ARCCLastUpdatedBy}}<br />
            LastUpdatedDate: {{::model.fullProposal.ARCCProposal.ARCCLastUpdatedDate}}
            <br /><br />

            --- HARDWARE ---
            <div ng-repeat="hardware in model.proposal.HardwareBudgetList">
                Hardware: {{hardware.ARCCHardwareName}}
            </div>
            <br />

            --- SOFTWARE ---
            <div ng-repeat="software in model.proposal.SoftwareBudgetList">
                Software: {{software.ARCCSoftwareName}}
            </div>
            <br />

            --- OTHER ---
            <div ng-repeat="other in model.proposal.OtherBudgetList">
                OTHER: {{other.ARCCOtherName}}
            </div>
            <br />

            <button ng-show="!proposalIsArchived && !isScoringActive && !isApprovalActive" class="weberButton" ng-click="togglePanels('scoring')">Score</button>
            <button ng-show="!proposalIsArchived && !isScoringActive && !isApprovalActive" class="weberButton" ng-click="togglePanels('approval')">Approve</button>
        </div>

    @*-- Scoring Partial View Panel --*@
    <div class="col-lg-4 {{slideClass}}" ng-hide="!isScoringActive" style="border-left:1px solid #CCCCCC;">
        @Html.Partial("ARCCScoring")
    </div>

    @*-- Approval Partial View Panel --*@
    <div class="col-lg-4 {{slideClass}}" ng-hide="!isApprovalActive" style="border-left:1px solid #CCCCCC;">
        @Html.Partial("Approval")
    </div>

    @*-- Submission Messages --*@
    <div class="messageSlideUp warningMessage" ng-hide="model.warningMessage.length == 0" style="margin:25px 0 0 0">
        <button type="button" class="close" ng-click="cancel()">×</button>
        {{model.warningMessage}}
    </div>
    <div class="messageSlideUp successMessage" ng-hide="model.successMessage.length == 0" style="margin-top:25px 0 0 0">
        <button type="button" class="close" ng-click="cancel()">×</button>
        {{model.successMessage}}
    </div>
</div>


