<div class="row" ng-form="form.approvalForm">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 center-block">
        <div class="panel">
            <div class="col-lg-12 panel-heading sliderPanelHeading" style="margin:15px 0 15px 0;">Approval Form</div>
        </div>
    </div>
    <div class="col-lg-1"></div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped approvalTable">
                <tr>
                    <th width="200px">Member</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Evaluation</th>
                    <th>Support</th>
                    <th>Total</th>
                </tr>
                <tr ng-repeat="score in model.arccProposalScoreList">
                    <td>{{::score.UserName}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{::score.DeeScoreEvaluation}}</td>
                    <td>{{::score.DeeScoreSupport}}</td>
                    <td><strong>{{::score.DeeScoreTotal}}</strong></td>
                </tr>
            </table>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-lg-12 center-block" style="margin-top:50px">
        <button class="weberButton weberButtonGreen" ng-click="approval(1)">Approve</button>
        <button class="weberButton weberButtonRed" ng-click="approval(0)">Deny</button>
        <button class="weberButton" ng-click="togglePanels('none')">Close</button>
    </div>
</div>


