<div class="row">
    <div class="col-lg-6">

        <div class="col-lg-12" style="margin-top: 50px; min-height:42px;">
            <button class="weberButton pull-left" data-ng-click="goToScoreList()">Back to List</button>
            <button ng-show="!proposalIsArchived && !isScoringActive && !isApprovalActive" class="weberButton pull-right" 
                    ng-click="togglePanels('approval')">Approve</button>
            <button ng-show="!proposalIsArchived && !isScoringActive && !isApprovalActive && !isScored" class="weberButton pull-right" 
                    ng-click="togglePanels('scoring')" >Score</button>
        </div>

        <div class="col-lg-12" style="margin-top:50px">
            @*-- General Information --*@
            <div class="panel proposalPanel">
                <div class="panel-heading proposalPanelHeading">
                    General Information:
                </div>
                <div class="panel-body proposalPanelBody">
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <label for="DeeName">*Proposal Title:</label>
                            <span class="proposalViewOnlyText"><br />{{::model.fullProposal.DeeProposal.DeeName}}<br /><br /></span>

                            <label for="DeeDirector">*Project Director:</label>
                            <span class="proposalViewOnlyText"><br />{{::model.fullProposal.DeeProposal.DeeDirector}}<br /><br /></span>

                            <label for="DeeDepartment">*Department:</label>
                            <span class="proposalViewOnlyText"><br />{{::model.fullProposal.DeeProposal.DeeDepartment}}<br /><br /></span>
                        </div>
                        <div class="col-lg-6 form-group">
                            <label for="DeeCollege">*College:</label>
                            <span class="proposalViewOnlyText"><br />{{::model.fullProposal.DeeProposal.DeeCollege}}<br /><br /></span>
                            <label for="DeeEmail">*E-Mail:</label>
                            <span class="proposalViewOnlyText"><br />{{::model.fullProposal.DeeProposal.DeeEmail}}<br /><br /></span>

                            <label for="DeeExtension">Extension:</label>
                            <span class="proposalViewOnlyText"><br />{{::model.fullProposal.DeeProposal.DeeExtension}}<br /><br /></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="DeeOtherMembers">Other Team Members:</label>
                            <span class="proposalViewOnlyText"><br />{{::model.fullProposal.DeeProposal.DeeOtherMembers}}<br /><br /></span>
                        </div>
                    </div>
                </div>
            </div>

            @*-- Dee Rep Signature --*@
            <div class="panel proposalPanel width90 center-block">
                <div class="proposalPanelSubHeading">
                    ARCC Representative (required)
                </div>
                <div class="panel-body proposalPanelBody">
                    I have read the proposal and discussed it with the Project Director ({{model.fullProposal.DeeProposal.DeeDirector}}).
                </div>
                <div class="form-horizontal proposalPanelBody">
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="RepSignature">ARCC Representative Signature</label>
                        <div class="col-lg-7">
                            <span class="proposalViewOnlyText"><br />{{::model.fullProposal.DeeProposal.DeeRepSignature}}<br /><br /></span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="RepComments">ARCC Representative Comments</label>
                        <div class="col-lg-7">
                            <span class="proposalViewOnlyText"><br />{{::model.fullProposal.DeeProposal.DeeRepComments}}<br /><br /></span>
                        </div>
                    </div>
                </div>
            </div>

            @*-- Dept Chair Signature --*@
            <div class="panel proposalPanel width90 center-block">
                <div class="proposalPanelSubHeading">
                    Department Chair (required)
                </div>
                <div class="panel-body proposalPanelBody">
                    The Department has reviewed this project within the context of overall information technology planning
                    within the Department. If the budget page indicates financial support from the Department, I agree to
                    commit those funds to this project.
                </div>
                <div class="form-horizontal proposalPanelBody">
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="ChairSignature">Department Chair Signature</label>
                        <div class="col-lg-7">
                            <span class="proposalViewOnlyText"><br />{{::model.fullProposal.DeeProposal.DeeChairSignature}}<br /><br /></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="ChairComments">Department Chair Comments</label>
                        <div class="col-lg-7">
                            <span class="proposalViewOnlyText"><br />{{::model.fullProposal.DeeProposal.DeeChairComments}}<br /><br /></span>
                        </div>
                    </div>
                </div>
            </div>

            @*-- College Dean Signature --*@
            <div class="panel proposalPanel width90 center-block">
                <div class="proposalPanelSubHeading">
                    College Dean (required for matching funds from the college)
                </div>
                <div class="panel-body proposalPanelBody">
                    I have reviewed this project. If the budget page indicates financial support from the College, I
                    agree to commit those funds to this project.
                </div>
                <div class="form-horizontal proposalPanelBody">
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="DeanSignature">College Dean Signature</label>
                        <div class="col-lg-7">
                            <span class="proposalViewOnlyText"><br />{{::model.fullProposal.DeeProposal.DeeDeanSignature}}<br /><br /></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="DeanComments">Department Chair Comments</label>
                        <div class="col-lg-7">
                            <span class="proposalViewOnlyText"><br />{{::model.fullProposal.DeeProposal.DeeDeanComments}}<br /><br /></span>
                        </div>
                    </div>
                </div>
            </div>

            @*-- Justification --*@
            <div class="panel proposalPanel">
                <div class="panel-heading proposalPanelHeading">
                    Justification
                </div>
                <div class="panel-body proposalPanelBody">
                    <ul class="nav nav-pills">
                        <li role="presentation" ng-class="{'active': (model.justification === 'Abstract')}"><a href="" ng-click="setJustification('Abstract')">Abstract</a></li>
                        <li role="presentation" ng-class="{'active': (model.justification === 'Objectives/Goals')}"><a href="" ng-click="setJustification('Objectives/Goals')">Objectives/Goals</a></li>
                        <li role="presentation" ng-class="{'active': (model.justification === 'Courses')}"><a href="" ng-click="setJustification('Courses')">Courses</a></li>
                        <li role="presentation" ng-class="{'active': (model.justification === 'Success')}"><a href="" ng-click="setJustification('Success')">Success</a></li>
                    </ul>
                    <div class="form-group">
                        <div class="col-lg-12" ng-show="model.justification === 'Abstract'">
                            <h4>Abstract (project summary):</h4>
                            <span>{{::model.fullProposal.DeeProposal.DeeAbstract}}</span>
                        </div>
                        <div class="col-lg-12" ng-show="model.justification === 'Objectives/Goals'">
                            <h4>Objectives and goals of this project:</h4>
                            <span>{{::model.fullProposal.DeeProposal.DeeObjectAndGoals}}</span>
                        </div>
                        <div class="col-lg-12" ng-show="model.justification === 'Courses'">
                            <h4>Identify specific courses and/or programs that will directly benefit from this project:</h4>
                            <span>(You may also want to describe how specific courses may be enhanced by this project.)</span>
                            <span>{{::model.fullProposal.DeeProposal.DeeCoursesPrograms}}</span>
                        </div>
                        <div class="col-lg-12" ng-show="model.justification === 'Success'">
                            <h4>Describe how the success of this project will be evaluated.</h4>
                            <span>(If reports or publications are anticipated from this project, please indicate such.)</span>
                            <span>{{::model.fullProposal.DeeProposal.DeeSuccess}}</span>
                        </div>
                    </div>
                </div>
            </div>

            @*-- Budget Tables --*@
            <div class="panel proposalPanel">
                <div class="panel-heading proposalPanelHeading">
                    Budget
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="budget-name">Hardware</th>
                                <th class="budget-item text-center">Dee Family Technology</th>
                                <th class="budget-item text-center">Department</th>
                                <th class="budget-item text-center">College</th>
                                <th class="budget-item text-center">Other</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="">Hardware Subtotals</th>
                                <th class="budget-item text-center">${{model.hwDeeTotal | number : 2}}</th>
                                <th class="budget-item text-center">${{model.hwDepartmentTotal | number : 2}}</th>
                                <th class="budget-item text-center">${{model.hwCollegeTotal | number : 2}}</th>
                                <th class="budget-item text-center">${{model.hwOtherTotal | number : 2}}</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="item in model.fullProposal.HardwareBudgetList">
                                <td class="budget-name">{{item.DeeHardwareName}}</td>
                                <td class="budget-item">${{item.DeeHardwareDeeBudget | number : 2}}</td>
                                <td class="budget-item">${{item.DeeHardwareDeptBudget | number : 2}}</td>
                                <td class="budget-item">${{item.DeeHardwareCollegeBudget | number : 2}}</td>
                                <td class="budget-item">${{item.DeeHardwareOtherBudget | number : 2}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="budget-name">Software</th>
                                <th class="budget-item text-center">Dee Family Technology</th>
                                <th class="budget-item text-center">Department</th>
                                <th class="budget-item text-center">College</th>
                                <th class="budget-item text-center">Other</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="">Software Subtotals</th>
                                <th class="budget-item text-center">${{model.swDeeTotal | number : 2}}</th>
                                <th class="budget-item text-center">${{model.swDepartmentTotal | number : 2}}</th>
                                <th class="budget-item text-center">${{model.swCollegeTotal | number : 2}}</th>
                                <th class="budget-item text-center">${{model.swOtherTotal | number : 2}}</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="item in model.fullProposal.SoftwareBudgetList">
                                <td class="budget-name">{{item.DeeSoftwareName}}</td>
                                <td class="budget-item">${{item.DeeSoftwareDeeBudget | number : 2}}</td>
                                <td class="budget-item">${{item.DeeSoftwareDeptBudget | number : 2}}</td>
                                <td class="budget-item">${{item.DeeSoftwareCollegeBudget | number : 2}}</td>
                                <td class="budget-item">${{item.DeeSoftwareOtherBudget | number : 2}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="budget-name">Other (including facilities and installation)</th>
                                <th class="budget-item text-center">Dee Family Technology</th>
                                <th class="budget-item text-center">Department</th>
                                <th class="budget-item text-center">College</th>
                                <th class="budget-item text-center">Other</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="">Other Subtotals</th>
                                <th class="budget-item text-center">${{model.oDeeTotal | number : 2}}</th>
                                <th class="budget-item text-center">${{model.oDepartmentTotal | number : 2}}</th>
                                <th class="budget-item text-center">${{model.oCollegeTotal | number : 2}}</th>
                                <th class="budget-item text-center">${{model.oOtherTotal | number : 2}}</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="item in model.fullProposal.OtherBudgetList">
                                <td class="budget-name">{{item.DeeOtherName}}</td>
                                <td class="budget-item">${{item.DeeOtherDeeBudget | number : 2}}</td>
                                <td class="budget-item">${{item.DeeOtherDeptBudget | number : 2}}</td>
                                <td class="budget-item">${{item.DeeOtherCollegeBudget | number : 2}}</td>
                                <td class="budget-item">${{item.DeeOtherOtherBudget | number : 2}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="grand-total">Grand Totals:</th>
                                <th class="budget-item text-center">Dee Family Technology</th>
                                <th class="budget-item text-center">Department</th>
                                <th class="budget-item text-center">College</th>
                                <th class="budget-item text-center">Other</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="info">
                                <th class="grand-total">${{model.grandTotal | number : 2}}</th>
                                <th class="budget-item text-center">${{model.deeTotal | number : 2}}</th>
                                <th class="budget-item text-center">${{model.departmentTotal | number : 2}}</th>
                                <th class="budget-item text-center">${{model.collegeTotal | number : 2}}</th>
                                <th class="budget-item text-center">${{model.otherTotal | number : 2}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @*-- Funding Information --*@
            <div class="panel proposalPanel">
                <div class="panel-heading proposalPanelHeading">
                    Funding Information
                </div>
                <div class="panel-body proposalPanelBody">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-5 control-label" for="PartialPercentage">Can this project be completed if it is partially funded?</label>
                            <div class="col-lg-6">
                                <span class="proposalViewOnlyText"><br />{{ARCCPartiallyFunded}}<br /><br /></span>
                            </div>

                        </div>
                        <div>
                            <span class="proposalViewOnlyText">
                                <label class="col-lg-5 control-label" for="PartialPercentage">What percentage of funding is needed?</label>
                                <br />{{model.fullProposal.DeeProposal.ARCCPartiallyFundedPercent | formatPercent}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        @*-- Submission Messages --*@
        <div class="messageSlideUp warningMessage" ng-hide="model.warningMessage.length == 0" style="margin:25px 0 0 0">
            <button type="button" class="close" ng-click="cancel()">×</button>
            {{model.warningMessage}}
        </div>
        <div class="messageSlideUp successMessage" ng-hide="model.successMessage.length == 0" style="margin-top:25px 0 0 0">
            <button type="button" class="close" ng-click="cancel()">×</button>
            {{model.successMessage}}
        </div>
    </div>

    @*-- Scoring Partial View Panel --*@
    <div class="col-lg-4 {{slideClass}}" ng-hide="!isScoringActive" style="border-left:1px solid #CCCCCC;">
        @Html.Partial("DeeScoring")
    </div>

    @*-- Approval Partial View Panel --*@
    <div class="col-lg-4 {{slideClass}}" ng-hide="!isApprovalActive" style="border-left:1px solid #CCCCCC;">
        @Html.Partial("DeeApproval")
    </div>
</div>


