<div class="row">
    <div class="col-lg-8">
        Proposal ID: {{::model.fullProposal.DeeProposal.DeeProposalID}}<br />
        Proposal Name: {{::model.fullProposal.DeeProposal.DeeName}}<br />
        Director: {{::model.fullProposal.DeeProposal.DeeDirector}}<br />
        Department: {{::model.fullProposal.DeeProposal.DeeDepartment}}<br />
        College: {{::model.fullProposal.DeeProposal.DeeCollege}}<br />
        Username: {{::model.fullProposal.DeeProposal.DeeUsername}}<br />
        Email: {{::model.fullProposal.DeeProposal.DeeEmail}}<br />
        Extension: {{::model.fullProposal.DeeProposal.DeeExtension}}<br />
        OtherMembers: {{::model.fullProposal.DeeProposal.DeeOtherMembers}}<br />
        ARCCRepSignature: {{::model.fullProposal.DeeProposal.DeeRepSignature}}<br />
        ARCCRepComments: {{::model.fullProposal.DeeProposal.DeeRepComments}}<br />
        ChairSignature: {{::model.fullProposal.DeeProposal.DeeChairSignature}}<br />
        ChairComments: {{::model.fullProposal.DeeProposal.DeeChairComments}}<br />
        DeanSignature: {{::model.fullProposal.DeeProposal.DeeDeanSignature}}<br />
        DeanComments: {{::model.fullProposal.DeeProposal.DeeDeanComments}}<br />
        DeeAbstract: {{::model.fullProposal.DeeProposal.DeeAbstract}}<br />
        DeeObjectAndGoals: {{::model.fullProposal.DeeProposal.DeeObjectAndGoals}}<br />
        DeeCoursesPrograms: {{::model.fullProposal.DeeProposal.DeeCoursesPrograms}}<br />
        DeeSuccess: {{::model.fullProposal.DeeProposal.DeeSuccess}}<br />
        DeeTimeline: {{::model.fullProposal.DeeProposal.DeeTimeline}}<br />
        DeeJustificationAttach: {{::model.fullProposal.DeeProposal.DeeJustificationAttach}}<br />
        ARCCPartiallyFunded: {{::model.fullProposal.DeeProposal.ARCCPartiallyFunded}}<br />
        ARCCPartiallyFundedPercent: {{::model.fullProposal.DeeProposal.ARCCPartiallyFundedPercent}}<br />
        DeeLastUpdatedBy: {{::model.fullProposal.DeeProposal.DeeLastUpdatedBy}}<br />
        DeeLastUpdatedDate: {{::model.fullProposal.DeeProposal.DeeLastUpdatedDate}}
        <br /><br />

        --- HARDWARE ---
        <div ng-repeat="hardware in model.proposal.HardwareBudgetList">
            Hardware: {{hardware.DeeHardwareName}}
        </div>
        <br />

        --- SOFTWARE ---
        <div ng-repeat="software in model.proposal.SoftwareBudgetList">
            Software: {{software.DeeSoftwareName}}
        </div>
        <br />

        --- OTHER ---
        <div ng-repeat="other in model.proposal.OtherBudgetList">
            OTHER: {{other.DeeOtherName}}
        </div>
        <br />

        <button ng-show="!proposalIsArchived && !isScoringActive && !isApprovalActive" class="weberButton" ng-click="togglePanels('scoring')">Score</button>
        <button ng-show="!proposalIsArchived && !isScoringActive && !isApprovalActive" class="weberButton" ng-click="togglePanels('approval')">Approve</button>
    </div>

    @*-- Scoring Partial View Panel --*@
    <div class="col-lg-4 {{slideClass}}" ng-hide="!isScoringActive" style="border-left:1px solid #CCCCCC;">
        @Html.Partial("DeeScoring")
    </div>

    @*-- Approval Partial View Panel --*@
    <div class="col-lg-4 {{slideClass}}" ng-hide="!isApprovalActive" style="border-left:1px solid #CCCCCC;">
        @Html.Partial("DeeApproval")
    </div>

    @*-- Submission Messages --*@
    <div class="messageSlideUp warningMessage" ng-hide="model.warningMessage.length == 0" style="margin:25px 0 0 0">
        <button type="button" class="close" ng-click="cancel()">×</button>
        {{model.warningMessage}}
    </div>
    <div class="messageSlideUp successMessage" ng-hide="model.successMessage.length == 0" style="margin-top:25px 0 0 0">
        <button type="button" class="close" ng-click="cancel()">×</button>
        {{model.successMessage}}
    </div>
</div>


