<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
    <script>
      $(function() {
          $("#slider1").slider();
          $("#slider2").slider();
          $("#slider3").slider();
          $("#slider4").slider();
          $("#slider5").slider();

      });
    </script>
</head>
<div class="row">
    <br /><br />

    <div class="col-lg-6 col-lg-offset-3">
        <div id="slider1"></div>
    </div>
    <br /><br />

    <div class="col-lg-6 col-lg-offset-3">
        <div id="slider2"></div>
    </div>
    <br /><br />

    <div class="col-lg-6 col-lg-offset-3">
        <div id="slider3"></div>
    </div>
    <br /><br />

    <div class="col-lg-6 col-lg-offset-3">
        <div id="slider4"></div>
    </div>
    <br /><br />

    <div class="col-lg-6 col-lg-offset-3">
        <div id="slider5"></div>
    </div>
    <br /><br />
</div>        

        

    @*<div class="sliderDiv">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color:#EBAA4B !important; text-align:left;">Choose Three Stocks</div>

                <div id="slider1" ng-click="calculateStock1()"></div>
                <div>
                    <input id="currentval1"
                            type="text"
                            value="0"
                            style="border: none;"
                            ng-model="model.Stock1Percent" />
                </div>

        </div>
    </div>*@


<div class="row">
    <div class="col-lg-12 center-block" style="margin-top:350px">
        <button class="btn btn-primary" ng-click="togglePanels('none')">Close</button>
    </div>
</div>
