<div class="col-lg-12">
    <div class="text-center">
        <h1><strong class="tradeGothic">Academic Resources and Computing Committee (ARCC)</strong></h1>
        <h3><strong>ARCC grant deadline for Fall 2014 is Monday November 9, 2015.</strong></h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img class="center-block" src="~/Content/images/weber.jpg" />
    </div>
</div>
<br /><br />
<div class="row" style="text-align: center">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
        <a href="#!/Home/UserDashboard"><img src="~/Content/images/statue400x300.jpg" /></a>
        <h4><strong>ARCC and Dee Family Proposals</strong></h4>
    </div>
    <div class="col-lg-3">
        <a href="#!/Home/ScoringDashboard"><img src="~/Content/images/people400x300.jpg" /></a>
        <h4><strong>ARCC Committee Members</strong></h4>
    </div>
    <div class="col-lg-3"></div>
</div>
<div class="row" style="margin-top: 50px">
    <div class="col-lg-2"></div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>We'd love to hear from you!</h4>
                If you have any questions or comments, please send an email to <a href="mailto:arccbudgetadmin@weber.edu">arccbudgetadmin@weber.edu</a>.
            </div>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
