<div class="large-12 columns" style="text-align: center">
    <h1><strong class="tradeGothic">Academic Resources and Computing Committee (ARCC)</strong></h1>
    <h3 class="subheader"><strong>ARCC grant deadline for Fall 2014 is Monday November 3, 2014.</strong></h3>
</div>
<div class="row">
    <div class="large-12 columns">
        <br /><br />
        <div id="slider">
            <img src="~/Content/images/weber.jpg" />
        </div>
        <br /><br />
        <hr />
    </div>
</div>
<br /><br />
<div class="row" style="text-align: center">
    <div class="large-4 columns">
        <a href="#!/ARCCProposal/ARCCProposalDashboard"><img src="~/Content/images/books400x300.jpg" /></a>
        <h4 class="subheader"><strong>ARCC Proposals</strong></h4>
    </div>
    <div class="large-4 columns">
        <a href="~/DeeProposal/Create"><img src="~/Content/images/statue400x300.jpg" /></a>
        <h4 class="subheader"><strong>Dee Family Technology Proposals</strong></h4>
    </div>
    <div class="large-4 columns">
        <a href="~/Home/UserLanding"><img src="~/Content/images/people400x300.jpg" /></a>
        <h4 class="subheader"><strong>ARCC Committee Members</strong></h4>
    </div>
</div>
<br /><br /><br /><br /><br /><br />
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h4>We'd love to hear from you!</h4>
            <div class="row">
                <div class="large-9 columns">
                    <p>If you have any questions or comments, please send an email to <a href="mailto:arccbudgetadmin@weber.edu">arccbudgetadmin@weber.edu</a>.</p>
                </div>
                @*<div class="large-3 columns">
                      <a href="mailto:arccbudgetadmin@weber.edu" class="radius button color-1 right">Contact Us</a>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class="row">
    @*<div class="large-12 columns">
            <div class="panel">
                A temporary link to help us navigate while we are still in development: &nbsp;&nbsp;
                <a href="~/Home/LinksForUs" class="button">LinksForUs Page</a>
                <div class="row">
                </div>
            </div>
        </div>*@
</div>
