<footer class="footer">
    <div class="row">
        <aside class="asideX large-4 footer-left">
            <div class="text-center" id="asideTop">
                <a href="http://www.weber.edu"><img alt="WSU Logo" src="/Content/images/footer-logo.png" /></a>
            </div>

            <div id="asideMiddle">
                <address>
                <h6>Ogden, Utah 84408<br />
                (801) 626-6000</h6>
                </address>

                <div class="text-center"">
                    <a class="button contact-us tiny" href="http://www.weber.edu/contactus/">Contact &ndash; Feedback</a>
                </div>
            </div>

            <div id="asideBottom">
                <div class="text-center footer-icons hide-for-large-down">
                    <a aria-haspopup="true" class="icon-facebook has-tip tip-top" data-selector="tooltip-hzcz75nf3" data-tooltip="" href="https://www.facebook.com/WeberState" target="_blank" title="Like us on Facebook">&zwnj;</a> 
                    <a aria-haspopup="true" class="icon-youtube has-tip tip-top open" data-selector="tooltip-hzcz90es3" data-tooltip="" href="http://www.youtube.com/WeberStateU" target="_blank" title="Subscribe to our YouTube Channel">&zwnj;</a> 
                    <a aria-haspopup="true" class="icon-twitter has-tip tip-top open" data-selector="tooltip-hzcz90es2" data-tooltip="" href="https://twitter.com/WeberStateU" target="_blank" title="Follow us on Twitter">&zwnj;</a> 
                    <a aria-haspopup="true" class="icon-instagram has-tip tip-top" data-selector="tooltip-hzcz4zcu5" data-tooltip="" href="http://instagram.com/weberstate" target="_blank" title="Follow us on Instagram">&zwnj;</a> 
                    <a aria-haspopup="true" class="icon-google-translate has-tip tip-top" data-selector="tooltip-hzcz4zcu6" data-tooltip="" onclick="translateURL()" title="Google Translate">&zwnj;</a>
                </div>

                <div class="text-center footer-icons show-for-large-down">
                    <a class="icon-facebook" href="https://www.facebook.com/WeberState" target="_blank">&zwnj;</a> 
                    <a class="icon-youtube" href="http://www.youtube.com/WeberStateU" target="_blank">&zwnj;</a> 
                    <a class="icon-twitter" href="https://twitter.com/WeberStateU" target="_blank">&zwnj;</a> 
                    <a class="icon-instagram" href="http://instagram.com/weberstate" target="_blank">&zwnj;</a> 
                    <a class="icon-google-translate" onclick="translateURL()">&zwnj;</a>
                </div>
            </div>
        </aside>

        <div class="footerRight">
            <nav class="hide-for-xlarge-up">
                <ul class="small-block-grid-1  medium-block-grid-1 large-block-grid-3">
	                <li class="medium-6 columns" id="footerColumn">
	                    <h3>Communities</h3>
	                    <ul>
		                    <li><a href="http://www.weber.edu/currentstudents/">Current Students</a></li>
		                    <li><a href="http://www.weber.edu/facultystaff/">Faculty/Staff</a></li>
		                    <li><a href="http://alumni.weber.edu">Alumni</a></li>
		                    <li><a href="http://www.weber.edu/visitors/">Visitors</a></li>
	                    </ul>
	                </li>
	                <li class="medium-6 columns" id="footerColumn">
	                    <h3>Popular</h3>
	                    <ul>
		                    <li><a href="http://www.weber.edu/admissions">Admissions</a></li>
		                    <li><a href="http://bookstore.weber.edu/">Bookstore</a></li>
		                    <li><a href="http://library.weber.edu/">Stewart Library</a></li>
		                    <li><a href="https://jobs.weber.edu/">Jobs at Weber</a></li>
		                    <li><a href="http://weberstatetickets.com">Weber State Tickets</a></li>
		                    <li><a href="https://portalapps.weber.edu/eweber/">eWeber</a></li>
	                    </ul>
	                </li>
	                <li class="medium-6 columns" id="footerColumn">
	                    <h3>Directories</h3>
	                    <ul>
		                    <li><a href="https://selfservice.weber.edu/pls/proddad/bwckschd.p_disp_dyn_sched">Class Schedule</a></li>
		                    <li><a href="http://apps.weber.edu/calendars/">Calendars</a></li>
		                    <li><a href="http://catalog.weber.edu/">Catalog</a></li>
		                    <li><a href="http://portalapps.weber.edu/lfsindex/public.aspx">Faculty/Staff Directory</a></li>
		                    <li><a href="http://www.weber.edu/weberstatemap/">Maps &amp; Locations</a></li>
	                    </ul>
	                </li>
                </ul>
            </nav>

            <div class="smallPrint row legal-footer" style="float:left;"><small><a href="https://www.weber.edu/WSUHomePage/WSU-Terms-of-Use.html">Terms&nbsp;&amp;&nbsp;Policies</a> 
                <span class="hide-for-medium-down">&nbsp;&nbsp;|&nbsp;&nbsp;</span> </small> <small> &copy;&nbsp;Copyright&nbsp;2014&nbsp;All&nbsp;Rights&nbsp;Reserved </small> 
                <small> <span class="hide-for-medium-down">&nbsp;&nbsp;|&nbsp;&nbsp;</span> <a onclick="translateURL()">Google&nbsp;Translate</a> </small>
            </div>
        </div>

        
    </div>
</footer>

