@*<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 text-center footerLogo">
        <div class="text-center">
            <a href="http://www.weber.edu"><img alt="WSU Logo" src="~/Content/images/footer-logo.png" height="80px" /></a>
            <br />
            <div id="asideMiddle">
                <address>
                    <h6>
                        Ogden, Utah 84408<br />
                        (801) 626-6000
                    </h6>
                </address>
            </div>
            <br />
            <div>
                <small><a href="https://www.weber.edu/WSUHomePage/WSU-Terms-of-Use.html">Terms&nbsp;&amp;&nbsp;Policies</a></small>
                <small> &copy;&nbsp;Copyright&nbsp;2014&nbsp;All&nbsp;Rights&nbsp;Reserved </small>
                <small> <span class="hide-for-medium-down">&nbsp;&nbsp;|&nbsp;&nbsp;</span> <a onclick="translateURL()">Google&nbsp;Translate</a> </small>
            </div>
        </div>
    </div>

    <div class="col-lg-4"></div>
</div>*@


