<div class="headerDiv hide-on-print">
    <a class="headerLinks" href="http://www.weber.edu">WSU Home</a> &nbsp; | &nbsp;
    <a class="headerLinks" href="https://portalapps.weber.edu/SmartLogin/altLogin.aspx?page=/eWeber/default.aspx">eWeber</a> &nbsp; | &nbsp;
    <a class="headerLinks" href="http://www.weber.edu/currentstudents/">Current Students</a> &nbsp; | &nbsp;
    <a class="headerLinks" href="http://www.weber.edu/facultystaff/">Faculty & Staff</a> &nbsp; | &nbsp;
    <a class="headerLinks" href="http://alumni.weber.edu/s/953/alumni/start.aspx?gid=1001&pgid=61">Alumni</a> &nbsp; | &nbsp;
    <a class="headerLinks" href="http://www.weber.edu/visitors/">Visitors</a>
</div>
<img class="headerBG hide-on-print" src="@Url.Content("~/Content/images/header.jpg")"/>
<img class="headerLogo hide-on-print" src="@Url.Content("~/Content/images/headerLogo.png")" />