<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tinavanriper.com/arcc</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tinavanriper.com</MSDeployServiceURL>
    <DeployIisAppPath>tinavanriper.com/arcc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>persephione</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ARCCDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=198.71.226.6;Initial Catalog=arcc;Integrated Security=False;User ID=arcc;Password=weberarcc123;Connect Timeout=15;Encrypt=False;Packet Size=4096" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=198.71.226.6;Initial Catalog=arcc;Integrated Security=False;User ID=arcc;Password=weberarcc123;Connect Timeout=15;Encrypt=False;Packet Size=4096" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ARCCDBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=198.71.226.6; Integrated Security=False; Database=arcc; User ID=arcc; Password=weberarcc123; Connect Timeout=15; Encrypt=False; Packet Size=4096" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ARCCDBContext-Web.config Connection String">
      <ParameterValue>Data Source=198.71.226.6;Initial Catalog=arcc;Integrated Security=False;User ID=arcc;Password=weberarcc123;Connect Timeout=15;Encrypt=False;Packet Size=4096</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>