<div class="form container" ng-form="form.NewPaymentChannel">
    <div class="page-header text-center">
        <h1>Academic Resources and Computing Committee</h1>
        <h1><small>Create a New Dee Proposal</small></h1>
    </div>
</div>
