@import url("https://www.weber.edu/prebuilt/importfonts.css");
html, body {
  height: 100%;
  width: 98vw;
}
body {
    margin-bottom: 150px;
}

/* ------------------------------------------- */
/* Custom Buttons
/* ------------------------------------------- */
.weberButton {
    border-style: solid;
    border-width: 1px;
    border-color: #492365;
    cursor: pointer;
    font-family: inherit;
    line-height: 1;
    margin: 0 5px 0;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 0.8em;
    padding-right: 1.5em;
    padding-bottom: 0.8em;
    padding-left: 1.5em;
    font-size: 1.1em;
    background-color: #492365; 
    color: white; 
}
.weberButton:hover, .weberButton:focus {
    background-color: #8A68A2; 
    border-color: #8A68A2;
    color: white;
}
.weberButton:focus {outline:0 !important;}

.weberButtonGreen {
    background-color: #009844; 
    border-color: #009844;
}
.weberButtonGreen:hover, .weberButtonGreen:focus {
    background-color: #6AB46A; 
    border-color: #6AB46A;
    color: white;
}
.weberButtonGreen:focus {outline:0 !important;}

.weberButtonRed {
    background-color: #a52428; 
    border-color: #a52428;
}
.weberButtonRed:hover, .weberButtonRed:focus {
    background-color: #D6524E;
    border-color: #D6524E;
    color: white;
}
.weberButtonRed:focus {outline:0 !important;}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #492365 !important;
}

a {
    color: #492365;
    text-decoration: none;
}

/*Custom Table Hover*/
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #D7D7D7 !important;
}

/* Turn off Input Spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
 
/*** Header ***/
#header {
    height: 150px;
    width: 100%;
}
.headerBG {
    z-index: -1;
    height: 100%;
    width: 100%;
}
.headerLogo {
    z-index: 10;
    height: 60px;
    width: 280px;
    position: absolute;
    left: 75px;
    top: 45px;
}
.headerDiv {
    z-index: 10;
    position: absolute;
    left: 100px;
    top: 10px;
    width: 800px;
    color: #cac6c1;
    font-size: 14px;
}
.pageTitle {
    text-align:center;
}
.headerLinks {
    color: #cac6c1;
}
a.headerLinks:hover {
  color: #fdfef8;
}

/* Trade Gothic Extended */
@font-face {
    font-family: TradeGothicLTStd-Extended;
}
.tradeGothic {
    font-family: TradeGothicLTStd-Extended;
    color: #492365;
}

/* ------------------------------------------- */
/* Animations
/*Code for animated transitions here: https://github.com/Augus/ngAnimate/ 
/* ------------------------------------------- */
/* Slide Left */
.slide-left.ng-hide-add {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -moz-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    -moz-transition-delay: .9s;
    -o-transition-delay: .9s;
    -webkit-transition-delay: .9s;
    transition-delay: .9s;
}
.slide-left.ng-hide-add.ng-hide-add-active {
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.slide-left.ng-hide-remove {
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    -moz-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
    display: block !important;
}
.slide-left.ng-hide-remove.ng-hide-remove-active {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/* Slide Right */
.slide-right.ng-hide-add {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition-duration: 600ms;
    -moz-transition-duration: 600ms;
    -o-transition-duration: 600ms;
    transition-duration: 600ms;
}
.slide-right.ng-hide-add.ng-hide-add-active {
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
.slide-right.ng-hide-remove {
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -moz-transition-duration: 600ms;
    -o-transition-duration: 600ms;
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
    display: block !important;
}
.slide-right.ng-hide-remove.ng-hide-remove-active {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/*-- custom warning text box --*/
.messageSlideUp {
    -moz-transition: .3s linear all;
    -o-transition: .3s linear all;
    -webkit-transition: .3s linear all;
    transition: .3s linear all;
    height: 36px;
    width: 385px;
    overflow: hidden;
    position: relative;
    padding: 10px 15px 0 15px;
    line-height: 16px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
    z-index: 500;
}
.messageSlideUp.ng-hide {
    height: 0;
}
.warningMessage {
    color: #8C7153;  
    background-color: #FCF7D6;
    border: 1px solid #DED3C7;
}
.successMessage {
    color: #6C6E59;  
    background-color: #DFF0D8;
    border: 1px solid #B4C9AC;
}
.close {
    line-height: 0.8 !important;
}

/* ------------------------------------------- */
/* Budget Table Customizations
/* ------------------------------------------- */
.budget-item {
    width:120px;
}
.budget-button {
    width:115px;
    text-align:center;
}
.budget-name {
    width: 325px;
}

.grand-total {
    width: 325px;
}

/* ------------------------------------------- */
/* Approval Table Customizations
/* ------------------------------------------- */
.approvalTable {
    margin-bottom: 0 !important;
}
.approvalTable th td{
    font-size:12px;
}

/* ------------------------------------------- */
/* Sliders and Slider Panel customizations
/* ------------------------------------------- */
.sliderDiv {
    text-align:center; 
    vertical-align:middle;
}
.sliderDiv td {
    background-color: white;
}
.sliderHandle{
    background: #F2F5A9 !important;
}
#slider1 {
    background: #9CC96B;
}
#slider2 {
    background: #4EBCDA;
}
#slider3 {
    background: #EBAA4B;
}
#slider4 {
    background: #8446ac;
}
#slider5 {
    background: #d25d12;
}
.sliderPanelHeading { 
    background-color:#492365 !important; 
    text-align:center;
    font-size: large;
}
.sliderInput {
    font-size: 16px;
    font-weight: 600;
    border: none;
    margin-bottom: 10px;
    background-color: white !important;
    width: 20px !important
}
.sliderTable {
    width: 90%; 
    margin: 0 auto;
}
.sliderTable td{
    padding-top: 25px;
    padding-bottom: 25px;
}

/* ------------------------------------------- */
/* Proposal Panel customizations
/* ------------------------------------------- */
.panel-heading {
    background-image: none !important;
    border-radius: 0 !important;
    color: white !important;
}
.proposalPanel {
    border-color: #ddd;
    margin-bottom: 50px;
}
.proposalPanelHeading { 
    background-color:#492365 !important; 
    color: white !important;
    font-size: large;
}
.proposalPanelSubHeading {
    background-color: #a391b1;
    border-color: #ddd;
    background-image: none !important;
    border-radius: 0 !important;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    color: white !important;
}
.proposalPanelBody {
    background-color: #FFF9EB;
    padding-bottom: 15px;
}
.width90 {
    width: 90% !important;
}
.form-group {
    margin-bottom: 0 !important;
}
.proposalViewOnlyText {
    padding-left: 25px;
}

