@import url("https://www.weber.edu/prebuilt/importfonts.css");
html, body {
  height: 100%;
}
#header {
    height: 150px;
    width: 100%;
}
.headerBG {
    z-index: -1;
    height: 100%;
    width: 100%;
}
.headerLogo {
    z-index: 10;
    height: 60px;
    width: 280px;
    position: absolute;
    left: 75px;
    top: 45px;
}
.headerDiv {
    z-index: 10;
    position: absolute;
    left: 100px;
    top: 10px;
    width: 800px;
    color: #cac6c1;
    font-size: 14px;
}
.pageTitle {
    text-align:center;
}
.headerLinks {
    color: #cac6c1;
}
a.headerLinks:hover {
  color: #fdfef8;
}
/* Trade Gothic Extended */
@font-face {
    font-family: TradeGothicLTStd-Extended;
    src: url('webfonts/2730EE_7_0.eot');
    src: url('webfonts/2730EE_7_0.eot?#iefix') format('embedded-opentype'),
        url('webfonts/2730EE_7_0.woff') format('woff'),
        url('webfonts/2730EE_7_0.ttf') format('truetype');
}
.tradeGothic {
    font-family: TradeGothicLTStd-Extended;
    color: #492365;
}

