<div class="form container" ng-form="form.NewPaymentChannel">
    <div class="page-header text-center">
        <h1>Academic Resources and Computing Committee</h1>
        <h1><small>Create a New ARCC Proposal</small></h1>
    </div>

    @*-- Top Panel --*@
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="ARCCName">*Proposal Title:</label>
                    <input class="form-control" type="text" ng-model="model.arccName" required />
                    <label for="ARCCDirector">*Project Director:</label>
                    <input class="form-control" type="text" ng-model="model.arccDirector" required />
                    <label for="ARCCDepartment">*Department:</label>
                    <input class="form-control" type="text" ng-model="model.arccDepartment" required />
                </div>
                <div class="col-lg-6 form-group">
                    <label for="ARCCCollege">*College:</label>
                    <input class="form-control" type="text" ng-model="model.arccCollege" required />
                    <label for="ARCCEmail">*E-Mail:</label>
                    <input class="form-control" type="text" ng-model="model.arccEmail" required />
                    <label for="ARCCExtension">Extension:</label>
                    <input class="form-control" type="text" ng-model="model.arccExtension" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="ARCCOtherMembers">Other Team Members:</label>
                    <input class="form-control" type="text" ng-model="model.arccOtherMembers" />
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Instructions:</h4>
        </div>
        <div class="panel-body">
            <ol>
                <li>
                    The ARCC Proposal consists of this cover sheet, the budget summary, and no more than a three-page description,
                    with a justification addressing the selection criteria:
                    <ol type="a">
                        <li>How does the proposed project enhance the educational experience of Weber State students?</li>
                        <li>How does the proposed project help position Weber State as a leader in innovative use of technology for education?</li>
                        <li>How will the proposed project’s success be evaluated?</li>
                    </ol>
                </li>
                <li>
                    You are required to obtain the signature of an ARCC representative for your college, indicating that she/he is familiar with
                    the proposal, and can speak to it during funding deliberations.
                </li>
                <li>
                    Your department chair’s signature is also required, indicating that she/he supports the proposal, and that the proposal is in
                    keeping with departmental goals related to educational technology and its applications to the academic mission of the institution.
                    Your Chair’s signature also indicates her/his commitment to help support the project financially if so indicated on the budget page.
                </li>
                <li>The dean’s signature is required if and only if the college is pledging supporting funds for the project.</li>
                <li>If your college ranks proposals, those will be used in the evaluation, but are not required.</li>
                <li>
                    For certain projects an IT expert's signature is required. You must contact the appropriate individual if you are
                    implementing a wireless network, multimedia classroom, software/hardware purchase that will require use of a campus server or work
                    with online course software like WebCT Vista or ChiTester. You must give time before the deadline - the recommendation is 3 weeks
                    - for that person to do an evaluation.
                </li>
            </ol>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>ARCC Representative (required)</h5>
        </div>
        <div class="panel-body">
            I have read the proposal and discussed it with the Project Director ({{model.arccDirector}}).
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-4 control-label" for="RepSignature">ARCC Representative Signature</label>
                <div class="col-lg-7">
                    <input type="text" class="form-control" id="RepSignature"
                           placeholder="ARCC Representative Signature" ng-model="model.arccRepSignature" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label" for="RepComments">ARCC Representative Comments</label>
                <div class="col-lg-7">
                    <textarea class="form-control" id="RepComments"
                              placeholder="Comments" ng-model="model.arccRepComments" />
                </div>
            </div>
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Department Chair (required)</h5>
        </div>
        <div class="panel-body">
            The Department has reviewed this project within the context of overall information technology planning
            within the Department. If the budget page indicates financial support from the Department, I agree to
            commit those funds to this project.
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-4 control-label" for="ChairSignature">Department Chair Signature</label>
                <div class="col-lg-7">
                    <input type="text" class="form-control" id="ChairSignature"
                           placeholder="Department Chair Signature" ng-model="model.arccChairSignature" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label" for="ChairComments">Department Chair Comments</label>
                <div class="col-lg-7">
                    <textarea class="form-control" id="ChairComments"
                              placeholder="Comments" ng-model="model.arccChairComments" />
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>College Dean (required for matching funds from the college)</h5>
        </div>
        <div class="panel-body">
            I have reviewed this project. If the budget page indicates financial support from the College, I
            agree to commit those funds to this project.
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-4 control-label" for="DeanSignature">College Dean Signature</label>
                <div class="col-lg-7">
                    <input type="text" class="form-control" id="DeanSignature"
                           placeholder="College Dean Signature" ng-model="model.arccDeanSignature" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label" for="DeanComments">Department Chair Comments</label>
                <div class="col-lg-7">
                    <textarea class="form-control" id="DeanComments"
                              placeholder="Comments" ng-model="model.arccDeanComments" />
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>IT Representative</h5>
        </div>
        <div class="panel-body">
            For certain projects an IT expert's signature is required. You must contact the appropriate individual
             if you are implementing MULTIMEDIA, NETWORKING, OR OTHER CLASSROOM TECHNOLOGY INSTALLATIONS (contact 
            Bob King at <a href="mailto:rking@weber.edu">rking@weber.edu</a> or x6865).<br />
            I have read the proposal and discussed it with the Project Director ({{model.arccDirector}}).
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-4 control-label" for="ITSignature">IT Representative Signature</label>
                <div class="col-lg-7">
                    <input type="text" class="form-control" id="ITSignature"
                           placeholder="College Dean Signature" ng-model="model.arccITSignature" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label" for="ITComments">IT Representative Comments</label>
                <div class="col-lg-7">
                    <textarea class="form-control" id="ITComments"
                              placeholder="Comments" ng-model="model.arccITComments" />
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Justification</h5>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="col-lg-12">
                    <textarea class="form-control" ng-model="model.arccJustification" 
                              placeholder="Enter Proposal Justification"></textarea>
                </div>
            </div>
        </div>
    </div>
    @*Missing Quick Entries here*@
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Budget</h5>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Hardware</th>
                        <th>ARCC</th>
                        <th>Department</th>
                        <th>College</th>
                        <th>Other</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Additional Resources</h5>
        </div>
        <div class="panel-body">
            Please describe what other resources will be required to implement this project:<br />
            (Additional resources may include needs such as Academic Computing technical support or hardware installation
             through Electronic Services.
            <div class="form-group">
                <div class="col-lg-12">
                    <textarea class="form-control" ng-model="model.arccAdditionalResources"
                              placeholder="Enter Additional Required Resources"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Replacement Equipment</h5>
        </div>
        <div class="panel-body">
            Please indicate if any of the requested equipment is replacement of items previously purchased with ARCC 
            funding.<br />
            (If possible, please list the ARCC project year and project name.)
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-lg-4 control-label" for="ReplacementEquipment">Requesting Replacement</label>
                <div class="col-lg-7">
                    <div class="btn-group" role="group" id="ReplacementEquipment">
                        <button type="button" class="btn" 
                                ng-click="model.arccReplacementEquipment = true"
                                ng-class="{'btn-default': !model.arccReplacementEquipment, 'btn-success': model.arccReplacementEquipment }">Yes</button>
                        <button type="button" class="btn" 
                                ng-click="model.arccReplacementEquipment = false"
                                ng-class="{'btn-default': model.arccReplacementEquipment, 'btn-success': !model.arccReplacementEquipment }">No</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label" for="ReplacementProjectName">Project Name</label>
                <div class="col-lg-7">
                    <input type="text" class="form-control" id="ReplacementProjectName"
                           placeholder="Previous Project Name" ng-model="model.arccReplacementProjectName" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-4 control-label" for="ReplacementARCCYear">Project Year</label>
                <div class="col-lg-7">
                    <input type="text" class="form-control" id="ReplacementARCCYear"
                              placeholder="Previous Project Year" ng-model="model.arccReplacementARCCYear" />
                </div>
            </div>
        </div>
    </div>
    <div class="container divBorder">
        @*-- Error Message --*@
        <div class="alert text-center" data-ng-class="'alert-error'" ng-if="model.errorMessage.length > 0" style="margin-left:50px !important; width:350px;">
            <i class="close" data-ng-click="resetNewForm()">×</i>
            <i data-ng-class="'error-small-icon-c'"></i>
            <strong>{{model.errorMessage}}</strong><br />
        </div>
    </div>
</div>




